.billingDetailsContainer {
    border-radius: 4px;
    border: 1px solid var(--secondary-300);
    background-color: var(--white);
}

.accountDetailsContainer {
    border: 1px solid var(--secondary-300);
    border-radius: 4px;
}